body {
  background-color: white;
  font-family: sans-serif;
  margin: 0;
}

.form-wrapper {
  margin: 5em auto 2em auto;
  text-align: center;

  input {
    border: none;
    padding: 1em;
    font-size: 16px;
    border-radius: 0;
    box-sizing: border-box;
  }

  label {
    font-family: sans-serif;
    color: #1b1b1b;
  }

  input[type='text'] {
    -webkit-appearance: none;
    border: 1px solid gray;
    border-right: none;
  }

  input[type='submit'] {
    text-transform: uppercase;
    background: none;
    background-color: red;
    border: 1px solid darken(red, 20%);
    margin: 0 !important;
    border-left: none;
    color: white;
    cursor: pointer;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 2em;
}

.message {
  display: block;
  padding: 1em;
  text-align: center;
  background-color: red;
  margin-top: 0;
  color: white;
}

.example {
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
}

.example-img {
  display: block;
  max-width: 100%;
  margin: 1em auto 0 auto;
}
