<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>youtube-rss</title>
    <meta name="description" content="Generate a RSS feed for any Youtube channel">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="/public/css/manifest.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">{{{html}}}</div>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '556ee49dde2e2604b5002916');
      t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
      t.src = 'https://track.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
